.tabs_btn {
    border: 5px solid skyblue;
    border-radius: 20px;
    font-weight: 700;
}

.tabs_parent {
    max-width: 800px;
}

.tabs_para_parent {
    max-width: 600px;
    padding: 30px 20px;
    margin-top: 150px;
    font-weight: 700;
    border: 5px solid skyblue;
    border-radius: 20px;
}

.accordion_text {
    font-size: 20px;
    color: brown;
    font-weight: 500;
}

.accordion_transition p {
    transition: all 0.3s ease-in-out;
    display: block;
}

.sidebar_btn {
    border: transparent;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    background-color: black;
    z-index: 10;
}

.sidebar_parent {
    background: wheat;
    width: 300px;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    z-index: 20;
}

.sidebar_left_0 {
    left: 0;
}

.sidebar_left_300 {
    left: -300px;
}

.faded {
    position: fixed;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: rgb(152, 147, 140);
}

.active_sidebar .faded {
    opacity: .5;
    z-index: 10;
    height: 100vh;
}

.typical_form_parent {
    border: 3px solid red;
    border-radius: 10px;
}

.typical_form_parent_width {
    width: 400px;
}
